// Solve the problem of the border color at the top of the tabbar being too heavy in dark mode
.dark .wd-tabbar--default.is-border::after {
  opacity: 0.3 !important;
}

// Let the right side of the cell support minimized width, and the left side can be wider
.cell-justify-end {
  .wd-cell .wd-cell__right {
    flex: none !important;
  }
}

// Solve the padding of small-sized cells
.wd-cell.is-small {
  .wd-cell__wrapper {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }
}

.button-reset {
  // 重置按钮样式
  border-radius: 0;
  background-color: transparent;
  border: none;
  line-height: normal;
  min-width: auto;
  padding-left: 0;
  padding-right: 0;

  // 去除按钮的伪元素样式（阴影）
  &::after {
    display: none;
  }
}

// 上传组件样式
.wd-upload{
  gap: 10px !important;

  .wd-upload__evoke, .wd-upload__preview {
    margin-bottom: 0 !important;
  }
}
